[Unit]
Description=Free fleet server

[Service]
Type=exec
ExecStart=bash -c "source /home/roscon/dev/fleet_management_system/install/setup.bash; /opt/ros/humble/bin/ros2 launch rmf_ff_tb3 ff_server.launch.xml"

[Install]
WantedBy=ros2-node-manager.target
